<h1 mat-dialog-title class="dialog-title">Category manager</h1>
<div mat-dialog-content>
  <form class="dialog-form" [formGroup]="categoryForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="label" type="text" matInput>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button type="button" mat-button mat-dialog-close color="primary" class="skip-button">
    Close
  </button>
  <button (click)="save()" type="button" mat-raised-button color="primary" class="publish-button">
    Save
  </button>
</div>
